@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300);
body {
  /*background: url("../images/Background.jpg") no-repeat center center fixed;*/
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0px;
}

body #logo {
  padding-bottom: 68px;
  padding-top: 65px;
  width: 25%;
  height: 25%;
}

footer {
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}
