@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300);
body {
  background-image: url("../images/Background.jpg");
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0px;
}

/* Link Colors */
a:link {
  color: #A6A6CF;
}
a:hover {
  color: #D1D1E7;
}
a:visited {
  color: #A6A6CF;
}

/* Logo and Header */
#logo {
  width: 200px;
  height: 200px;
}
#header {
  font-size: 48px;
  font-weight: bold;
  margin: 8px 0px 16px 0px;
}

ul.sicons {
    margin-bottom: 24px;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul.sicons li {
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}

ul.sicons li img {
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 8px;
    -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(65%, transparent) , to(rgba(250, 250, 250, 0.2)));
}

/*ul.sicons li:nth-child(1) img { background: #55ACEE; }*/
ul.sicons li:nth-child(1) img { background: #FFF; }
ul.sicons li:nth-child(2) img { background: #e52d27; }
ul.sicons li:nth-child(3) img { background: #f5f5f5; }

footer {
    background-color: #000;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

/* Content Area */
.content-text {
  display: none;
}
.selected {
  display: block !important;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}
.hidden {
  display: none;
}

/* Buttons */
.buttons li {
  -webkit-transition: background 1s;
  transition: background 1s;
  background: #0052CC;
  color: #FFF;
  display: inline-block;
  padding: 10px 20px;
  margin: 4px 4px;
  border-radius: 20px;
  width: 100px;
  overflow: auto;
  cursor: pointer;
}
.buttons li:hover {
  background: #2E005D;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.buttons ul {
  padding: 0px;
  margin: 0px;
}

/* Button Link */
.buttons a {
  color: #FFF;
  text-decoration: none;
}

/* Animations */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Pages */
ul.slist span.title {
  font-weight: bold;
}
ul.slist span.tagline {
  padding-left: 1em;
}
ul.slist {
  padding: 0;
  list-style-type: none;
}
ul.slist li {
  transition: background 0.4s;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
  transition: padding 0.2s;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
  border-radius: 8px;
  display: inline-block;
  padding: 4px 6px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  min-width: 100%;
}

ul.slist li p {
    padding: 0px;
}
ul.slist li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

ul.slist li.dropdown:hover {
    padding-bottom: 10px;
    cursor: pointer;
}

ul.slist img {
  display: inline;
  width: 64px;
  height: 64px;
  float: left;
  border-radius: 8px;
  margin-right: 8px;
}
ul.slist a:link {
  color: white;
}
ul.slist a:hover {
  color: white;
}
ul.slist a:visited {
  color: white;
}

/* Helpers */
.center {
  text-align: center !important;
}
#content > div {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#content p {
  text-align: left;
}

/* A "container" for the page, making it so it doesn't fill the entire screen on large monitors. */
#container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 960px;
  min-height: 955px;
  text-align: center;
  padding: 64px;
  margin-left: auto;
  margin-right: auto;
}
