@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
  background-image: url("../images/Background.jpg");
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0px;
}
/* Link Colors */

a:link {
  color: #A6A6CF;
}
a:hover {
  color: #D1D1E7;
}
a:visited {
  color: #A6A6CF;
}
/* Logo and Header */

#logo {
  width: 200px;
  height: 200px;
}
#header {
  font-size: 32px;
  font-weight: bold;
}
/* Content Area */

.content-text {
  display: none;
}
.selected {
  display: block !important;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}
.hidden {
  display: none;
}
/* Buttons */

.buttons li {
  -webkit-transition: background 1s;
  transition: background 1s;
  background: #0052CC;
  color: #FFF;
  display: inline-block;
  padding: 10px 20px;
  margin: 4px 4px;
  border-radius: 20px;
  width: 100px;
  overflow: auto;
  cursor: pointer;
}
.buttons li:hover {
  background: #9900CC;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.buttons ul {
  padding: 0px;
  margin: 0px;
}
/* Button Link */

.buttons a {
  color: #FFF;
  text-decoration: none;
}
/* Animations */

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

/* Pages */
span.name {
  font-weight: bold;
}

/* Helpers */

.center {
  text-align: center !important;
}

#content > div {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#content p {
  text-align: left;
}
/* A "container" for the page, making it so it doesn't fill the entire screen on large monitors. */

#container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 960px;
  min-height: 800px;
  text-align: center;
  padding: 64px;
  margin-left: auto;
  margin-right: auto;
}
